extends template.pug

block content
  .container
    h1 404. От халепа, щось пішло не так 
    p Схоже, ви натрапили на сторінку, якої не існує. Можливо, посилання було неправильним або сторінка була видалена.
    a(href="/") Повернутися на головну
    
    style.
        .container { text-align: center; padding: 50px; }
        p { font-size: 1.2em; margin-bottom: 30px; }